.navbar-light .navbar-brand {
    color: white;
    background-color: rgb(74, 170, 165);

}

.jumbotron {
  background-color: white;
  border-radius: 0;
  margin-top: 80px;
}

.btn {
  border-radius: 0;
  background-color: rgb(74, 170, 165);
  border-color:  rgb(74, 170, 165);
}

h1.display-4 {
  color: rgb(74, 170, 165);
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  font-size: 1.2rem;
  font-weight: 500;
}

img.portfolio {
  padding: 15px;
  width: 100%;
}
